<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medira</title>
  <link rel="stylesheet" href="/css/NavBar.css">
</head>
<body>
	<nav class="navbar">
			<div class="logo"><a href="#"><img src="/images/LOGO.png" ></a> </div>
			<ul>
                <h2>Admin Dashboard</h2>
				<li><a href="/">User Management</a></li>
                <li><a href="/">Questions</a></li>
				<li><a href="/">Analytics</a></li>
				<li><a href="/"> </a>Settings</li>
       
				<button class="Sign_out" onclick="location.href='/sign_OUT';">Sign Out</button>
        
			</ul>
	</nav>
</body>
</html>
