<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link src="/Media/js/index.js">
  <link rel="stylesheet" href="/css/NavBar.css">
  <link rel="stylesheet" href="/css/Styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Medira</title>
</head>
<body>
  <div id="navbar">
    <%- include("./NavBar.ejs") %>
  </div>

  <div class="image-container">
    <!-- <img src="/images/Picture.jpg" alt="Beautiful scenery"> -->
    <p><b>Welcome to Medira</b></p>
    <h2>Empowering healthcare professionals and patients with accurate medical <br>answers. Discover how our NLP-driven system enhances clinical decision-<br>making.</h2>
    <div class="button-container">
      <button id="start"class="Started" onclick="location.href='/login';">Get Started</button>
      <button class="Learn" onclick="location.href='/About';" >Learn More</button>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <h3><img src="./images/LOGO.png" alt="Medira Logo" class="footer-logo"></h3> 
      <nav>
        <ul>
          <li><a href="/About">About</a></li>
          <li><a href="/Discussion Forum">Discussion Forum</a></li>
        </ul>
      </nav>
      <p>&copy; 2024 Medira. All rights reserved. </p>Empowering healthcare professionals and patients with reliable medical information.
    </div>
  </footer>
</body>
</html>
